.test-button {
  width: auto;

  // 每个按钮的样式
  .button-control {
    width: 14px;
    height: 14px;

    :global(.ant-btn) {
      width: 14px;
      height: 14px;
      padding: 0;
      border: 0px;
      display: block;
    }

    .icon {
      width: 14px;
      height: 14px;
      font-size: 14px;

      :global(.anticon) {
        display: block;
      }

      img {
        display: block;
      }
    }
  }
}
