.button-disable {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .button-test {
    :global(.ant-btn) {
      // border-width: 0px;
    }
  }

  .disabled {
    pointer-events: none;
    cursor: default;
    opacity: 0.6;
  }
}
